* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

:root {
  --prymary-color: #75b9f7;
}

.header_top {
  background-color: #d9d9d9;
  padding: 10px 0;
}

.header_btn {
  display: flex;
  justify-content: flex-end;
}

.btn_login,
.btn_signup {
  background-color: var(--prymary-color);
  color: #fff;
  border: 1px solid #686868;
  margin-left: 5px;
  width: 105px;
  transition: all 0.5s;
}

.btn_login:hover,
.btn_signup:hover {
  color: #000000;
  background-color: #0084ff;
}

.header_nav {
  background-color: var(--prymary-color);
}

.header_logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-link {
  border: none !important;
}

.nav-link:hover {
  border-color: transparent !important;
}

/* main */

#main {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.main_content {
  display: flex;
  padding-top: 50px;
}

.carousel {
  display: flex;
  width: 50%;
}

.banner_carousel {
  margin-right: 20px;
  min-width: 90%;
}

.banner_img img {
  width: 100%;
  height: auto;
}

.content_text {
  width: 100%;
}

.content_text ul {
  list-style: none;
  padding-left: 0;
}

.content_text i {
  color: var(--prymary-color);
  margin-right: 10px;
}

/* footer */

.footer {
  background-color: #68829d;
}

.contact li {
  color: #fff;
  margin-bottom: 5px;
}

.contact li i {
  color: var(--prymary-color);
  margin-right: 10px;
}

.contact li a {
  text-decoration: none;
  color: #fff;
}






/* button-post-like-comment */

.btn-comment{
  background-color: var(--prymary-color);
  color: #fff;
  border: 1px solid #686868;
  margin-left: 5px;
  width: 105px;
  transition: all 0.5s;

}

.btn-comment:hover{
  color: #000;
  background-color: white;
}

/* button-post-like-comment */


/* reposive */

/* mobile */

@media only screen and (max-width: 767px) {
  .text {
    display: none;
  }

  .slidebar_list {
    text-align: center;
  }

  .slidebar_btn {
    margin-right: 12px;
  }

  .slidebar_title {
    text-align: center;
  }

  .slidebar {
    width: 15%;
  }

  .carousel {
    width: 80%;
  }

  .main_content {
    flex-wrap: wrap;
  }
}


/* tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text {
    display: none;
  }

  .slidebar_title {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .text {
    font-size: 10px;
  }

  .slidebar_btn {
    display: flex;
    align-items: center;
  }

  .slidebar_btn i {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 1200px) {
}

@keyframes modalfadein {
  from {
    opacity: 0;
    opacity: 1;
    transform: translateY(-140px);
  }
  to {
    transform: translateY();
  }
}
