* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

#about {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px 0;
}

#about h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

#about img {
  width: 40px;
  height: 40px;
}

#about p {
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #5c6c75;
}

:root {
  --prymary-color: #75b9f7;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header_top {
  background-color: #d9d9d9;
  padding: 10px 0;
}

.header_btn {
  display: flex;
  justify-content: flex-end;
}

.btn_login,
.btn_signup {
  background-color: var(--prymary-color);
  color: #fff;
  border: 1px solid #686868;
  margin-left: 5px;
  width: 105px;
  transition: all 0.5s;
}

.btn_login:hover,
.btn_signup:hover {
  color: #000000;
  background-color: #0084ff;
}

.container .nav {
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-button {
  display: none;
}

.header_nav {
  background-color: var(--prymary-color);
}

.header_logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-link {
  border: none !important;
}

.nav-link:hover {
  border-color: transparent !important;
}

/* banner */

.banner_carousel {
  width: 100%;
  height: 80vh;
}

.slick-list {
  height: 80vh;
}

.banner_carousel img {
  height: 100%;
}

.slick-dots {
  bottom: 8px;
}

/* main */

#main {
  background-color: #f5f5f5;
  padding-top: 75px;
  padding-bottom: 50px;
}

.content_text {
  width: 100%;
}

.content_text ul {
  list-style: none;
  padding-left: 0;
}

.content_text i {
  color: var(--prymary-color);
  margin-right: 10px;
}

.document_img {
  width: 100%;
  height: 205px;
}

.document_img img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.document_body {
  background-color: #fff;
  padding: 10px 20px;
}

.document_body h6 {
  color: var(--prymary-color);
}

.document_body-icon i {
  font-size: 12px;
  margin-left: 2px;
  color: #fec165;
}

.slogan {
  text-align: center;
}

.btn_error {
  background-color: #686868;
  color: #fff;
  margin: 10px 0;
}

.btn_error:hover {
  background-color: #686868 !important;
  color: #fff;
  cursor: no-drop;
}

/* footer */

.footer {
  background-color: #68829d;
}

.contact li {
  color: #fff;
  margin-bottom: 5px;
}

.contact li i {
  color: var(--prymary-color);
  margin-right: 10px;
}

.contact li a {
  text-decoration: none;
  color: #fff;
}

/* button-post-like-comment */

.btn-comment {
  background-color: var(--prymary-color);
  color: #fff;
  border: 1px solid #686868;
  margin-left: 5px;
  width: 105px;
  transition: all 0.5s;
}

.btn-comment:hover {
  color: #000;
  background-color: white;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: var(--prymary-color);
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px var(--prymary-color);
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* button-post-like-comment */

/* reposive */

/* Mobile Small (320px and below) */
@media only screen and (max-width: 320px) {
  /* CSS cho màn hình nhỏ hơn hoặc bằng 320px */

  #main {
    padding-top: 54px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 19vh;
  }

  .banner_carousel {
    width: 100%;
    height: 19vh;
  }

  .container .nav {
    justify-content: space-between !important;
  }

  /* Ẩn các mục nav */
  .nav-items {
    display: none;
  }

  /* Thêm nút menu */
  .header_nav .menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 9px;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-items {
    justify-content: center;
  }

  /* Hiển thị các mục nav khi bấm vào nút menu */
  .nav-items.active {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Mobile Medium (321px - 375px) */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  /* CSS cho màn hình từ 321px đến 375px */

  #main {
    padding-top: 56px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 19vh;
  }

  .banner_carousel {
    width: 100%;
    height: 19vh;
  }

  .container .nav {
    justify-content: space-between !important;
  }

  /* Ẩn các mục nav */
  .nav-items {
    display: none;
  }

  /* Thêm nút menu */
  .header_nav .menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 9px;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-items {
    justify-content: center;
  }

  /* Hiển thị các mục nav khi bấm vào nút menu */
  .nav-items.active {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Mobile Large (376px - 414px) */
@media only screen and (min-width: 376px) and (max-width: 414px) {
  /* CSS cho màn hình từ 376px đến 414px */

  #main {
    padding-top: 56px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 25vh;
  }

  .banner_carousel {
    width: 100%;
    height: 25vh;
  }

  .container .nav {
    justify-content: space-between !important;
  }

  /* Ẩn các mục nav */
  .nav-items {
    display: none;
  }

  /* Thêm nút menu */
  .header_nav .menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 9px;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-items {
    justify-content: center;
  }

  /* Hiển thị các mục nav khi bấm vào nút menu */
  .nav-items.active {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 415px) and (max-width: 768px) {
  /* CSS cho màn hình từ 415px đến 768px */

  #main {
    padding-top: 64px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 30vh;
  }

  .banner_carousel {
    width: 100%;
    height: 30vh;
  }

  .container .nav {
    justify-content: space-between !important;
  }

  /* Ẩn các mục nav */
  .nav-items {
    display: none;
  }

  /* Thêm nút menu */
  .header_nav .menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 9px;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-items {
    justify-content: center;
  }

  /* Hiển thị các mục nav khi bấm vào nút menu */
  .nav-items.active {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Tablet Landscape (1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS cho màn hình từ 769px đến 1024px */

  #main {
    padding-top: 71px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 52vh;
  }

  .banner_carousel {
    width: 100%;
    height: 52vh;
  }

  /* Ẩn các mục nav */
  .nav-items {
    display: none;
  }

  /* Thêm nút menu */
  .header_nav .menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-items {
    justify-content: center;
  }

  /* Hiển thị các mục nav khi bấm vào nút menu */
  .nav-items.active {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Small Desktop (1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* CSS cho màn hình từ 1025px đến 1280px */
  .slick-dots {
    display: none !important;
  }
}

/* Medium Desktop (1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  /* CSS cho màn hình từ 1281px đến 1440px */
}

/* Large Desktop (1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* CSS cho màn hình từ 1441px đến 1920px */
}

/* Extra Large Desktop (1921px and above) */
@media only screen and (min-width: 1921px) {
  /* CSS cho màn hình lớn hơn 1921px */
}

@keyframes modalfadein {
  from {
    opacity: 0;
    opacity: 1;
    transform: translateY(-140px);
  }
  to {
    transform: translateY();
  }
}
